*.swp
target/
node_modules/
# Local symlink to avoid hitting remote storage
web/public
data_prep/scotland-latest.osm.pbf
data_prep/osm/
data_prep/graph-files/
data_prep/baseline_stats/
data_prep/tmp/
