/* Svelte framework built-ins */
body {
  margin: 0;
}
#app {
}
.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.top {
  /* padding: 4px; */
}
.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Layout - existing */
header {
  width: 100%; /* padding: 4px; */
}
.controls {
  width: 25%; /* padding: 10px; */
  min-width: 350px;
}
.map {
  width: 75%;
}
main.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
}

/* Layout - new */
.progress-summary a {
  text-decoration: none;
  color: #1a1a1a;
}
.progress-summary ul {
  height: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.progress-summary ul li {
  list-style: none;
  font-size: 1rem;
  margin: 0;
  width: 100px;
  line-height: 12px;
  padding: 12px 6px 4px;
}
.progress-summary ul li progress {
  width: 100%;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: space between;
}
.controls main[slot="controls"] {
  overflow-y: auto;
  padding: 20px;
}
.controls main[slot="assess"] {
  margin-top: auto;
  height: auto;
  width: 100%;
  padding: 0 20px;
  border-top: 1px solid #ccc;
  padding: 12px 20px 8px;
}
.controls main[slot="assess"] strong {
  float: right;
}
.controls main[slot="assess"] progress {
  width: 100%;
}
/* https://verpex.com/blog/website-tips/how-to-style-a-progress-bar-using-css */
progress[value] {
  appearance: none;
  --color: #0065bd;
  --background: lightgrey;
  width: 100%;
  height: 5px;
  margin: 0;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  background: var(--color);
}
body main[slot="assess"] progress[value] {
  --color: var(--primary-tier-colour);
}
img.help {
  float: right;
}
main.map-container .network-style img.help {
  height: 16px;
}

/* Overrides to styles */
body .ds_page-header {
  margin: 0 0 14px;
}
body .ds_page-header .ds_page-header__label {
  color: var(--primary-tier-colour);
}
body .ds_link {
  font-size: 0.93rem;
  margin-bottom: 14px;
}
body main[slot="assess"] p {
  margin-bottom: 12px;
  line-height: 20px;
}
header .progress-summary {
  padding-left: 20px;
  margin-left: auto;
}

:root {
  --primary-tier-colour: #970f52;
  --secondary-tier-colour: #ff978c;
  --localaccess-tier-colour: #feae01;
  --longdistance-tier-colour: #fef157;
}
